[2019-05-13 11:49] RoyHolzem opened #1 "Installation error through PIP"
https://repl.it/languages/python3

[2019-05-13 13:44] dmmiller612 commented on #1
After testing in the repl.it, it looks like it is a memory error when installing the huggingface BERT repo, which makes sense. The package is quite large, and I am guessing it is beyond limits.

[2019-05-13 13:44] #1 closed

[2019-05-14 03:47] jacobdanovitch opened #2 "Cannot reproduce examples"
[code]

This produces a segmentation fault within iPython on both Ubuntu 18.04 and MacOS Mojave, and crashes Google Colab.

Specifically, the crash occurs at `model(body)`.

[2019-05-14 11:46] dmmiller612 commented on #2
Looks like for the spacy English class, neuralconf has some issues. I'll file a ticket with them, and make a fix here. Bert-extractive-summarizer 0.1.1 should still work fine

[2019-05-14 12:42] dmmiller612 commented on #2
Actually, try installing spacy 2.1.3. It worked for me there.

[2019-05-14 13:37] dmmiller612 commented on #2
While the issue is being resolved on the neuralcoref end, I put an update in setup.py that forces spacy==2.1.3. I'll update again when the issue is fixed.

[2019-05-14 13:37] #2 closed

[2019-06-19 19:33] QuantumPhysicsgit opened #3 "ValueError: module functions cannot set METH_CLASS or METH_STATIC"
I am using it on windows.
Just by running the import line I get the following error:

'

Traceback (most recent call last):

  File "<ipython-input-3-dafc92e0dffc>", line 1, in <module>
    from summarizer import SingleModel

  File "C:\Users\himansh\Anaconda3\lib\site-packages\summarizer\__init__.py", line 1, in <module>
    from summarizer.model_processors import SingleModel

  File "C:\Users\hi

[2019-06-21 16:09] RabbitJackTrade opened #4 "error running "pip install bert-extractive-summarizer""
While trying the installation, I received the following:

Is there a docker available?

[2019-06-21 16:28] dmmiller612 commented on #3
It looks like it is probably an issue with the Pytorch-bert library we use. We just provide a wrapper around that library for the Bert modeling.

[2019-06-21 16:29] dmmiller612 commented on #4
After work today, I will add one. There seems to be some funky issues for some when installing the pytorch-pretrained-bert library.

[2019-06-22 13:22] j40903272 opened #6 "vector size is not passed when loading bert model"
#5
The vector size parameter is not passed when loading pretrained bert model.

[2019-06-22 15:51] dmmiller612 commented on #6
Thanks for doing this. I'll get a release out soon.

[2019-06-22 15:51] #6 closed

[2019-06-27 15:01] RabbitJackTrade commented on #4
Any news on that? I  would really, like to try bert-extractive-summarizer, but I can't get it to run anywhere.

[2019-06-29 14:29] dmmiller612 commented on #4
I added a dockerfile that handles the installs in master. I am writing a script now that makes it easier to dynamically use, but the docker image would allow you to run what is needed.

[2019-06-29 17:23] RabbitJackTrade commented on #4
Great! I'll try that over the weekend and let you know how it went.

[2019-07-02 00:41] RabbitJackTrade commented on #4
Well, somewhat bad news and very good news. The docker was built "successfully" but I couldn't run python in it - at all. An attempt to install jupyter notebooks also failed.

BUT - after completing the docker, outside it everything worked like a charm! I imported bert-extractive-summarizer, loaded the model, ran the code - all without a hitch!

Trying to explain what happened is (way) over my pay

[2019-07-13 14:05] Jansonboss opened #7 "BETRT-Extractive-summarizer for Chinese Articles"
Does anyone know if the tool is workable for doing Extractive Summary to Chinese Article? Thanks a lot!

[2019-07-14 12:38] dmmiller612 commented on #7
I think right now that main blocker for that is the hardcoded English Spacy parameter. I am out of town at the moment, but when I return, I can take a look at it.

[2019-07-16 07:36] alexanderwong-amaris opened #8 "EOFError: Compressed file ended before the end-of-stream marker was reached"
windows
new conda environment

running sample code in readme: model = SingleModel() gives this error.

ps. had to manually install pytorch as the pip install bert-extractive-summarizer produced the error specified in the other issue.

any idea whats going wrong?

[2019-07-22 02:37] Arvedek opened #9 "ERROR:pytorch_pretrained_bert.modeling:Model name 'bert-large-uncased' was not found in model name list"
hmm.. any idea how to solve this? Full error here:

ERROR:pytorch_pretrained_bert.modeling:Model name 'bert-large-uncased' was not found in model name list (bert-base-uncased, bert-large-uncased, bert-base-cased, bert-large-cased, bert-base-multilingual-uncased, bert-base-multilingual-cased, bert-base-chinese). We assumed 'https://s3.amazonaws.com/models.huggingface.co/bert/bert-large-uncased.tar.

[2019-07-22 08:29] Arvedek commented on #9
Even though I change all the model to 'bert-base-uncased', still having this error

[2019-07-22 14:08] dmmiller612 commented on #9
This might be due to the change in huggingface. I will look at updating the api tonight

[2019-07-23 05:16] Arvedek commented on #9
I guess it's because the internet issue... so I download the model myself and get rid of that issue.  But I met  another one which shows like IndexError: index -2 is out of bounds for dimension 0 with size 1. Change the hidden to 2 and get it works not sure why. Btw, thanks for the reply

[2019-08-11 08:56] MorenoLaQuatra opened #10 "Bug in passing vector_size parameter"
Hi, first of all thanks for sharing your work to the research community.

I was trying to use a custom model for the extractive summarizer, in this case I noticed a little bug in the code, specifically in the `summarizer/model_processors.py` file:

The line `self.model = BertParent(model)` should be `self.model = BertParent(model, vector_size=vector_size)` because otherwise the class throws an err

[2019-09-08 17:19] dmmiller612 commented on #10
Hello, sorry I have been away for a bit after a big move. I should have some free time next week to push the most recent changes to pypi. This has been addressed

[2019-09-08 17:22] dmmiller612 commented on #8
Sorry, I have been away for a bit due to a move. I am not sure what the issue is here. I am moving to the new huggingface library sometime this week. I'll update the dockerfile with the new changes.

[2019-09-24 23:16] nomadavid9 opened #11 "ValueEroror: Found array with 0 sample(s)"
I'm trying to run the summarizer on a dataframe where each row contains a body of text, the model summarizes the text, saves the output,  and moves on to the next paragraph.

However, I keep getting the following ValueError:
ValueErrror: Found array with 0 sample(s) (shape=(0, 1024)) while a minimum of 1 is required.

I'm passing a series of strings of text to the summarizer (one at a time), not a

[2019-09-25 06:57] predestination opened #12 "server configuration?"
what should be the server configuration, for running model on AWS? it is taking local storage, and the process is getting killed, giving 500 internal server?
we have 12 gigs of ram on aws and 12GB SSD

[2019-09-28 12:38] dmmiller612 commented on #12
I had to use a larger instance with this to run it on a server in aws. For demo purposes, I think I used a m5.xlarge. Predictions run slower with these instances though, and obviously a c5 instance would be better, but they are a bit more costly.

[2019-09-28 12:39] dmmiller612 commented on #12
I recently moved, and I am slowly getting more time back. I'll get something up with the Docker file to run a simple service.

[2019-09-28 12:39] dmmiller612 commented on #11
I'll take a look. Thanks.

[2019-09-28 12:54] dmmiller612 commented on #12
Oh! and one last thing. Make sure it isn't related to spacy versions. Right now, the neural coref library doesn't support spacy > 2.1.3

[2019-09-28 14:28] dmmiller612 commented on #10
Vector size is no longer needed. Should be merged in pypi

[2019-09-28 14:28] #10 closed

[2019-09-28 14:28] dmmiller612 commented on #9
Should be resolved in newest pypi version

[2019-09-28 14:28] #9 closed

[2019-09-29 17:38] dmmiller612 commented on #12
I provided an example Docker flask service. The readme explains how to run the service.

[2019-09-29 17:38] #12 closed

[2019-10-13 21:41] davidlenz opened #15 "Empty summary from example from cloud with python requests"
Hi, great project, thanks a lot!

Server returns an empty summary when i try the example's text using python requests with a cloud machine. Dunno what i'm missing.

![image](https://user-images.githubusercontent.com/25869733/66722669-f3e0e380-ee10-11e9-8338-fcc912f86e66.png)

Works perfectly fine with `curl` on the cloud machine
[code]

![image](https://user-images.githubusercontent.com/25869733/6

[2019-10-18 15:06] hdatteln opened #16 "It takes long for the summary to be created"
Hi,
When trying the out-of-the-box summarizer on an article with about 7000 words, it takes over 4 minutes to get a summary;
(I am running the example on my mac, no gpu)
Just want to check if that's that normal?

Thanks,
Heidi

[2019-10-19 13:31] dmmiller612 commented on #16
It could be a few things. When you first use the worker, a download is issued for the pretrained model. Depending on network speed, that can take a few minutes.  Good news is that once it is downloaded, it should be cached in your system.

The next thing could be the model you select. Distill Bert runs much faster than Bert-uncased large, due to the fewer parameters.

GPU is obviously preferable w

[2019-10-19 13:33] dmmiller612 commented on #15
I am not sure about the data being a tuple, but that might be right. Do you know what the empty string does at the end of the tuple?

[2019-10-21 13:41] hdatteln commented on #16
Thank you, Derek.
The download is not the issue here (happens on every run, not only the first);
I will look into using Distill Bert, and see how it goes

[2019-10-22 08:42] MorenoLaQuatra opened #17 "Error when using custom BERT models."
When trying to use a custom model specifying the path, the class throws an error at the line: `/summarizer/BertParent.py, line 41`. The error is `AttributeError: 'NoneType' object has no attribute 'from_pretrained'`.

I think that the line:

`base_model, base_tokenizer = self.MODELS.get(model, (None, None))`

should become something like:

`base_model, base_tokenizer = self.MODELS.get(model, (mode

[2019-10-23 12:30] dmmiller612 commented on #17
I'll take a look.

[2019-10-29 09:08] zysNLP opened #19 "Is there an offline way to download summarizer?"
When I execute from summarizer import Summarizer, it' s too slow to download. I would like to ask if you could provide a url to download this part of content offline and save it somewhere?

[2019-10-29 09:57] zysNLP commented on #19
When "from summarizer import Summarizer" done, came "model = Summarizer()" !...This part could not download indeed. I want to give up...

[2019-10-29 19:29] dzimmerman-nci opened #20 "ValueError: spacy.strings.StringStore size changed, may indicate binary incompatibility. Expected 112 from C header, got 88 from PyObject"
I am trying to run the example code and keep getting this error.

[2019-10-29 20:34] dzimmerman-nci commented on #20
I have confirmed that all of my requirements are the same version as the project's

[2019-10-30 13:53] dzimmerman-nci commented on #20
it looks like this might have been a python 3.7 problem. python 3.6 is working for me.

[2019-10-30 13:53] dzimmerman-nci opened #21 "Does this use pretrained models?"
Assuming so but want to confirm

[2019-10-30 15:02] hdatteln commented on #17
Experiencing the same thing

[2019-10-31 10:01] davidlenz commented on #15
Thanks @dmmiller612, that was a hint in the right direction ( i have no clue what the empty string is supposed to do). Changed it to
[code]
and it works like a charm now. thanks again!

[2019-10-31 10:01] #15 closed

[2019-10-31 10:06] davidlenz commented on #21
yes, you can check them out here:
https://github.com/dmmiller612/bert-extractive-summarizer/blob/master/summarizer/BertParent.py#L13

[2019-10-31 11:29] dmmiller612 commented on #21
Yep, as David said, this uses the transformers library by huggingface.

[2019-10-31 11:29] dmmiller612 commented on #20
Interesting. I'll take a look this weekend to get a bug fix/new docker image.

[2019-10-31 11:30] dmmiller612 commented on #19
You will have to download at least once from the huggingface s3 repo. Once it is downloaded, it is cached and can be used offline. You can also download/train it separately and use it as a pretrained model.

[2019-10-31 11:32] dmmiller612 commented on #17
Whoops, looks like I fixed one part, but need to fix the summarizer contract. I will get to that this weekend.

[2019-11-01 06:39] zysNLP commented on #19
But how to download it separately?

[2019-11-01 13:25] #21 closed

[2019-11-01 14:18] dzimmerman-nci opened #22 "Input limit?"
I know BERT has an input token limit of 512. However, this summarizer does not have an input limit because you are looping through the sentences and embedding each one with BERT separately (assuming the sentences are <512 tokens). Is this correct?

[2019-11-02 05:37] Sid8519 commented on #20
I tried both examples and am getting this type of error ending with segmentation 11, I used Python 3.7, I will try with Python 3.6, interesting project!
 /opt/anaconda3/lib/python3.7/importlib/_bootstrap.py:219: RuntimeWarning: spacy.morphology.Morphology size changed, may indicate binary incompatibility. Expected 104 from C header, got 112 from PyObject
  return f(*args, **kwds)
/opt/anaconda3/li

[2019-11-04 04:11] Sid8519 commented on #20
So when I set up a conda environment for python 3.6 the thing works perfectly

[2019-11-04 19:27] dmmiller612 commented on #22
Yeah, I think that is correct, but I will have to double check.

[2019-11-04 19:29] dmmiller612 commented on #20
I am guessing the 3.7 issue is related to the spacy lock we are currently in, due to limited support from neuralcoref. Probably worth making neuralcoref optional to get around issues like this.

[2019-11-06 13:45] Twonki commented on #19
@zysNLP  It seems to be using "bert-large-uncased", so maybe you can just put your pre-downloaded version at the point where the downloaded one ends up?

The download asks for https://s3.amazonaws.com/models.huggingface.co/bert/bert-large-uncased-pytorch_model.bin where i can also download it manually

[2019-11-06 17:46] dzimmerman-nci commented on #22
Thanks. Please let me know.

[2019-11-07 01:24] zysNLP commented on #19
@Twonki Thank you very much, but where should I put the downloaded files?

[2019-11-07 11:20] Twonki commented on #19
@zysNLP I found some cached torch files under C:\Users\XXX\.cache\torch\transformers

These are rather cryptic hashes, but one is 1gb big which is about bert, and the time written matches.
Overall there are 6 hashname-files. I´m not using torch for anything else on this machine

[2019-11-07 14:30] Twonki commented on #19
@zysNLP I´m not 100% sure, but i think it´s just the normal spacy-install of the model.

You can maybe try the [spacy-documentation](https://spacy.io/usage/models#download-manual) on manual installation.

@dmmiller612  can you give a short comment on torch vs. spacy or whether I´m pointing in completely the wrong direction?

[2019-11-08 01:22] zysNLP commented on #19
@Twonki Thank you! but I use ubuntu, and found nothing about .cache\torch\transformers. Maybe use command to download is well even though need a lot of time.

[2019-11-08 03:39] yai333 commented on #19
you can modify transformers lib to load model locally
https://github.com/huggingface/transformers/issues/136

[2019-11-12 10:39] TheEdoardo93 commented on #20
Taken from [here](https://github.com/huggingface/neuralcoref):
_If you have an error mentioning_ `spacy.strings.StringStore size changed`, _may indicate binary incompatibility when loading NeuralCoref with import neuralcoref, it means you'll have to install NeuralCoref from the distribution's sources instead of the wheels to get NeuralCoref to build against the most recent version of SpaCy for you

[2019-11-13 19:39] soumyatanwar opened #24 "Unable to reproduce the examples"
I'm running the code in Google Colab notebook.
I made sure I installed the spacy 2.1.3 version.

However, this is the error I'm getting says Summarizer is not callable
![image](https://user-images.githubusercontent.com/37302163/68796965-bb376280-0679-11ea-922b-08fd2e08fad6.png)

Then I tried to pass the text as an argument to Summarizer which resulted in this, I expected the argument returned to b

[2019-11-13 19:50] dmmiller612 commented on #24
That all should work. However, I am unaware of this google colab notebook. If you wouldn't mind pasting it here, I can take a look.

[2019-11-14 12:32] soumyatanwar commented on #24
Google Colab is just like a Jupyter Notebook, with free GPU resources, that gets saved to Google Drive. I'm sharing a link to the Colab notebook here:

https://drive.google.com/open?id=1BncuWsyEXlPUPafqAUPwK2ausg7rvA4l

[2019-11-17 14:27] davidlenz commented on #17
How do i use this with docker? Trying the german-bert from [here](https://huggingface.co/transformers/pretrained_models.html)
[code]
but get
[code]

[2019-11-18 14:21] dmmiller612 commented on #24
Looks like the wrong summarizer is installed:
[code]

this requires `pip install bert-extractice-summarizer`

[2019-11-18 14:22] #24 closed

[2019-11-19 16:14] hdatteln commented on #17
@davidlenz , looks like the server.py file still needs to be updated so that you can use a custom model with Docker; Sorry, I wasn't using Docker when checking in the last changes for this issue, so didn't catch this
I believe `server.py` needs to be updated where it says `summarizer = Summarizer(args.model, ... `, so that it also accepts `args.custom_model` and `args.custom_tokenizer`

[2019-11-19 19:06] soumyatanwar commented on #24
Thanks for pointing that out! It works now :)

[2019-11-19 19:13] davidlenz commented on #17
@hdatteln this is a good starting point, thanks! Got the following afterwards:

[code]
So from the `requirements-service.txt` [here](https://github.com/dmmiller612/bert-extractive-summarizer/blob/2bba9976e1ffda8c9a39f77f2e83d20ebf3291a4/requirements-service.txt#L10) it looks the `bert-extractive-summarizer` is installed via pip as version `0.2.0` which needs to be changed to reflect the latest cha

[2019-11-19 21:00] dmmiller612 commented on #17
Sorry, I actually fixed this last night, and forgot to commit. I will update when I get home this evening.

[2019-11-21 16:12] davidlenz commented on #17
Thanks for the Feedback! Unfortunately it is still not working for me and i am not sure how to go on or correctly use the `german-bert`.

[code]
works well, but
[code]
still throws `AttributeError: 'NoneType' object has no attribute 'from_pretrained'`
[code]

[2019-11-21 17:34] AlaFalaki commented on #20
@dmmiller612
I am using Python 3.6.3 and have the "Segmentation fault" error. (also sure about the requirements version)
The library works well on google Colab but not on the servers I am working on.

[2019-11-22 05:08] kurodenjiro opened #25 "How to build my model ?"
Hi ! I really like your project . How to buy my model from this ?

[2019-11-22 08:49] rajmati-GM opened #26 "Example code throwing error"
The sample code from the readme doesnt seem to work . Is something changed in the recent commits? Please suggest
---> 29 result = model(body, min_length=60)
        30 full = ''.join(result)
        31 print(full)

TypeError: 'Summarizer' object is not callable

[2019-11-22 08:50] rajmati-GM commented on #26
Please suggest

[2019-11-22 11:42] dmmiller612 commented on #26
You will need to pip install Bert-extractive-summarizer. https://github.com/dmmiller612/bert-extractive-summarizer/issues/24

[2019-11-22 14:34] #26 closed

[2019-11-22 14:36] dmmiller612 commented on #25
Hello, the models do not need to be purchased. This library wraps around the huggingface transformers library. You can either provide your own custom model or use one of the existing BERT models from huggingface. When running the summarizer, the model is automatically downloaded and cached in your file system.

[2019-11-22 14:43] rajmati-GM commented on #26
thanks

[2019-11-22 14:53] rajmati-GM commented on #26
@dmmiller612 , did pip install Bert-extractive-summarizer and re-ran  I still get the same error.

[2019-11-22 15:10] rajmati-GM commented on #24
@soumyatanwar  could you please paste the sample code that worked for you here ?

[2019-11-22 15:49] dmmiller612 commented on #26
you will have to uninstall the original summarizer package.

[2019-11-23 15:28] dmmiller612 commented on #20
Thanks @TheEdoardo93, I'll add those instructions to the README. @AlaFalaki, per the neuralcoref instructions, you will need to follow TheEdoarado93 instructions.

[2019-11-27 17:06] AlaFalaki commented on #20
@dmmiller612 I tried @TheEdoardo93's instruction before asking. It did not help.
I made a new virtual environment and reinstalled the module (pip install bert-extractive-summarizer), now everything works fine. Don't know why exactly.

[2019-11-28 15:40] cyberandy opened #27 "BETRT-Extractive-summarizer Multilingual"
Hi there, what would be the procedure to use this library with either BERT-Base, Multilingual or single-language models like Bert for German, CamemBERT etc.?

Congratulation for your great work!

[2019-11-28 18:47] dmmiller612 commented on #27
Hello Cybercandy,

You can currently use custom models as long as they follow the hugging face design. For example to use the brand new ALBERT implementation, you could do the following:

[code]
If you had a custom tuned model, you could use your own there. I do believe that the transformers library does have a pretrained CamemBERT model though.

[2019-11-28 18:49] dmmiller612 commented on #20
Yeah, that is strange. It is most likely a neuralcoref issue. Neuralcoref and spacy have had some issues with some versions, but the current locked versions in the readme should work. I'll see if I can reproduce.

[2019-11-28 18:51] dmmiller612 commented on #22
Sorry, it took me so long. It is currently a requirement of 512 tokens per sentence. It can handle any number of sentences (memory constrained of course), but the sentence needs to be less than 512 tokens.

[2019-11-28 18:51] #22 closed

[2019-11-29 04:04] cyberandy commented on #27
Awesome, thanks @dmmiller612 for the quick reply - so in the case of German that is indeed included in the hugging face distribution I would go for:

`from summarizer import Summarizer

from transformers import BertModel, BertTokenizer
bertgerman_model = BertModel.from_pretrained('bert-base-german-cased', output_hidden_states=True)
bertgerman_tokenizer = BertTokenizer.from_pretrained('bert-base-ge

[2019-11-29 04:04] #27 closed

[2019-11-29 07:53] houda96 commented on #17
Is it also possible to add the multilingual options from BERT as an option? (or make it possible to custom indicate which BERT tokenizer, model and  which pre-trained model it needs to use?)

[2019-11-29 15:13] dmmiller612 commented on #17
Yep, I can update the documentation.

[2019-12-02 09:56] elmeligy commented on #17
I am having the same issue
`$ docker run --rm -it -p 5000:5000 summary-service:latest -model bert-base-multilingual-cased
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
100%|################################################################################################################################################################| 40155

[2019-12-02 14:04] dmmiller612 commented on #17
Yeah, right now the service doesn't have a good way to load a custom model (It can easily been done with the library). I'll add something to hopefully address the issue sometime this week.

[2019-12-03 07:29] csetarun opened #28 "Unable to install using Anaconda"
Collecting package metadata (current_repodata.json): done
Solving environment: failed with initial frozen solve. Retrying with flexible solve.
Collecting package metadata (repodata.json): done
Solving environment: failed with initial frozen solve. Retrying with flexible solve.

PackagesNotFoundError: The following packages are not available from current channels:

bert-extractive-summarizer==0.1.4

[2019-12-03 14:04] dmmiller612 commented on #28
I currently don't have the package in conda. From your conda environment, you will need to run `pip install bert-extractive-summarizer`.

[2019-12-04 21:20] dzimmerman-nci opened #29 "ratio confusion"
My understanding is that the ratio parameter is the ratio of sentences to get back from the summarizer from the text to summarize. It does not seem to be doing this consistently. When I set the ratio = 1.0, I should get all of the text back that I sent to summarize, but this does not seem to be the case always. What is the reason for this?

[2019-12-06 03:46] dmmiller612 commented on #29
Yeah, it is probably related to the minimum/maximum sentence length filters. For some of the pretrained bert models, there are biases for really long or short sentences. By default, I think the minimum character length for a sentence is around 25, and maximum is around 500.

[2019-12-06 12:19] igormis commented on #17
I am having the same issue:
I am trying to load trained model using:
`ext_model = Summarizer(custom_model="../models/CNN_DailyMail_Extractive/bertext_cnndm_transformer.pt")`
However, I have the following error:
`File "/usr/local/lib/python3.6/dist-packages/summarizer/BertParent.py", line 38, in __init__ self.model = base_model.from_pretrained(model, output_hidden_states=True) AttributeError: 'None

[2019-12-06 18:08] Lou1sWang opened #30 "No module named summarizer"
when i run 'from summarizer import Summarizer', there is an error said no module names summarizer.

[2019-12-07 13:41] dmmiller612 commented on #30
Make sure that you use `pip install bert-extractive-summarizer` rather than just summarizer (or make sure it isn't already installed). A lot of people have had issues with that. I may rename the base package in a future release.

[2019-12-11 04:53] Soe2Lwin opened #31 "Can I used this bert extractive summarizer for Myanmar Language(Burmese) news summairzation?"

[2019-12-12 18:54] dzimmerman-nci commented on #29
is this also the reason why sometimes it returns an empty summary?

[2019-12-15 23:03] dmmiller612 commented on #31
It would depend on a couple of factors. One you would need a Burmese pretrained Bert model, and the other would require that spacy has Burmese in their language library. I am not too sure if either of these exist.

[2019-12-15 23:07] dmmiller612 commented on #29
yeah, that can happen if all of the sentences fall out of the size range. A way to test this is the open up those ranges on the summarization. This can be done with a command such as:

[code]

[2019-12-16 03:22] Soe2Lwin commented on #31
Thank you for replying

[2019-12-16 03:45] dmmiller612 commented on #31
It looks like Bert has a pretrained multi-lingual model that includes Burmese: https://github.com/google-research/bert/blob/master/multilingual.md. You would have to load this model into the transformers bert model to properly work (They have a lot of tutorials on how to do this: https://github.com/huggingface/transformers). I didn't see the Burmese language in Spacy though.

[2019-12-16 03:51] Soe2Lwin commented on #31
Thank you for your kind. I will try to test.

[2019-12-26 17:18] aced125 opened #33 "Neuralcoref doesn't seem to actually be working"
Hey authors,

Great repo so far. An issue: when I try to do run the ```body``` in the example (on the Chrysler building sale) through the neuralcoref code in the repo, it doesn't actually work...

For example, here is running the ```body``` through neuralcoref, and examining the clusters.

[code]

This the code used at the moment in `modelprocessors.py`.

However, if we try this, instead, it works

[2019-12-26 17:24] aced125 opened #34 "Suggestion to move over to sentence-bert for getting sentence embeddings"
Hey Authors,

Since you are tokenizing each sentence separately, I suggest to check out this paper ([Sentence-BERT: Sentence Embeddings using Siamese BERT-Networks
](https://arxiv.org/abs/1908.10084)) and the corresponding repo (https://github.com/UKPLab/sentence-transformers) from UKP labs in Germany.

They have shown that _using the sum of Bert embeddings for each word to represent a sentence do

[2019-12-27 06:13] pratikghanwat7 opened #35 "How to modify the code for domain specific summarization?"
I tried to apply it to domain-specific documents, but it did not result in desired output. is there any way to get the desired result?

[2019-12-27 16:13] dmmiller612 commented on #33
Neuralcoref has been nothing but a headache since it was added. I think a better strategy that I want to move to is to bring your own coreference model that works with spacy. I really want to get rid of the spacy/coreference dependency because it has been causing people issues with installation.

[2019-12-27 16:23] dmmiller612 commented on #34
Great suggestion! I'll take a look more into this, and see how we can integrate it. Right now we default to using the mean of the word embeddings at the second or third last layer. Still, using the mean approach can bias clustering results for really long/short sentences (which is why we have a parameter for that). I'll do some known checks that I have seen before on the new library to see if some

[2019-12-28 15:32] #3 closed

[2019-12-28 15:33] #4 closed

[2019-12-31 15:20] zrxbeijing opened #36 "can we implement it with GPU support?"
Hello, I like your project very much.
One question: how can we run the code with gpu support?

[2020-01-15 13:21] Mozoku commented on #30
That still does not solve the problem. Still getting the same error

[2020-01-15 13:26] dmmiller612 commented on #30
A good way to test is using the docker image, or starting a virtualenv from scratch. This has been common issue for a lot of people, and when I get time, I will probably change the package name.

[2020-01-22 08:49] imayachita opened #37 "RuntimeError: unexpected EOF, expected 10413410 more bytes. The file might be corrupted."
Hi,
I tried to run the code and got this error:
[code]

Anyone experienced the same issue? Thanks!

[2020-01-29 07:10] KiranSaal opened #38 "Can we load the neuralcoref model offline without downloading it from the code?"

[2020-02-18 07:36] akhisreelibra commented on #37
I've been experiencing the same. Could the development team find any resolution.

[2020-02-24 17:34] hajdurobert92 commented on #17
There's an ad-hoc solution if it's urgent.

Replace

`       base_model, base_tokenizer = self.MODELS.get(model, (None, None))

        if custom_model:
            self.model = custom_model
        else:
            self.model = base_model.from_pretrained(model, output_hidden_states=True)

        if custom_tokenizer:
            self.tokenizer = custom_tokenizer
        else:
            self.to

[2020-02-24 18:26] dmmiller612 commented on #38
The only way you could do that is to download the models from huggingface and point the model path to the locally saved path.

[2020-02-24 18:27] dmmiller612 commented on #37
I’ll take a look. Very likely related to the neural coref library

[2020-02-24 18:27] dmmiller612 commented on #36
Haven’t tried it yet. I probably would need to include the device as an argument

[2020-02-25 07:46] zaid-kamil commented on #38
could you please explain, how to pass the model path in the summarizer,
a code example would be a great help.

[2020-03-18 09:36] evanmiller29 opened #40 "Removing elements of NLP spacy object"
This library is bloody cool, good work mate.
Is there a way to disable some elements of the spacy NLP object to reduce memory usage?

[2020-03-21 03:20] cabhijith commented on #34
Hey @dmmiller612 !
Any updates? I can attest to the fact that SBERT delivers greater results in real systems. It would be great to use that!

[2020-03-27 17:56] shuntera opened #41 "cannot import name 'summarize'"
After using pip install and going into my Python 3.8 shell, if I enter:

`from summarizer import Summarizer`

I get the error:

`ImportError: cannot import name 'summarize' from partially initialized module 'summarizer' (most likely due to a circular import)`

[2020-03-28 06:19] jackall commented on #36
This project is just awesome! thanks, @dmmiller612, but it would be great to squeeze it to GPU, CPU takes forever to run.

[2020-04-14 00:37] dmmiller612 commented on #40
That's a good question. So recently, I added some capabilities that now drop coreference from the dependencies. It is optional through a class. That should remove a large bulk of the dependencies.

[2020-04-14 00:39] dmmiller612 commented on #41
Hello Shuntera,

I would verify that the module is correct. We frequently get issues around wrong imports of the summarizer (there is another package that also has a package summarize).

[2020-04-14 00:41] dmmiller612 commented on #38
Hello Zaid,

The README has been updated with how to pass in the coreference model (if desired). You can also bring your own coreference model as well. By default, the summarizer no longer passes in the coreference model, due to the number of libraries available.

[2020-04-14 00:41] dmmiller612 commented on #37
We now no longer import the coreference library by default. this should address the issue (most recent version)

[2020-04-14 00:41] #37 closed

[2020-04-14 00:43] dmmiller612 commented on #36
So sorry this took so long. GPU support has just been added. I will be uploading the code to pypi in the  next few hours. The current colab in the repo has an example with gpu support (If you have a cuda available, you shouldn't need to do anything on your part with the most recent code change).

[2020-04-14 00:43] #36 closed

[2020-04-14 03:37] #16 closed

[2020-04-14 03:38] #29 closed

[2020-04-14 03:38] #28 closed

[2020-04-14 05:47] zrxbeijing commented on #36
Wow! That‘s awesome! Can’t wait to try it out!

[2020-04-14 13:22] dmmiller612 commented on #20
This issue was due to the coreference package. This has been addressed in recent versions, allowing coreference to be an add on rather than required. Closing for now.

[2020-04-14 13:22] #20 closed

[2020-04-14 21:32] FBruzzesi commented on #9
@dmmiller612 Using transformers 2.8.0, spacy 2.2.3 and neuralcoref 4.0.0, I am getting the  IndexError above and cannot manage to work around it. Can it be version issue?

[2020-04-14 21:59] dmmiller612 commented on #9
what version of bert-extractive-summarizer are you using?

[2020-04-14 22:06] FBruzzesi commented on #9
I am using  0.4.2 version

[2020-04-15 17:54] dizzySummer opened #44 "empty output"
Hi!

I tried this module (v. 0.4.2). It's impressive. One thing I would like to check with you, though. In your example:
    result = model(text, min_length=60) #this works
however when I change the "text " to like this:
   result =model(df['text_body'][1], min_length=60)# this does not work
 It generated an empty cell or like this ' ' Why?

How is a little bit more details:

type(text) => str
typ

[2020-04-15 18:06] dmmiller612 commented on #44
From this, it looks like all the punctuation is gone. This with spacy by extracting sentences and doing summarization analysis based on the sentences.

[2020-04-15 18:25] dizzySummer commented on #44
Ok, got it. I will generate a new CSV file w/o removing punctuations. Thanks!

[2020-04-15 18:25] #44 closed

[2020-04-16 05:41] shaofengzeng opened #45 "How can i apply your code for Chinese?"
Excuse me, can i use your code for Chinese...

[2020-04-16 22:55] samirkapure opened #46 "How to use the code to predict summery of my new text."

[2020-04-17 00:05] dmmiller612 commented on #9
So the above issue seems to work fine now. As for your model @FBruzzesi, do you have a link to the model you are trying to use? Long story short, the current implementation takes the second to last decoding layer as embedded output. If the model flattens the decoding layer, it would throw an error here.

[2020-04-17 00:06] dmmiller612 commented on #46
Here is an example from the readme:
[code]

[2020-04-17 00:08] dmmiller612 commented on #45
The only limitation right now for Chinese is that you would need a Bert Model and tokenizer that uses Chinese. If you have both the tokenizer and model, you can easily pass it in for summarization.

[2020-04-17 02:56] shaofengzeng commented on #45
OK, thanks

[2020-04-24 05:57] saranthn opened #47 "How to determine number of sentences in summary by sum of squares in clustering?"
Is it possible to remove ratio parameter and automatically determine the number of sentences in the summary using sum of squares of cluster

[2020-04-27 21:41] Viwarrior opened #48 "'Summarizer' object is not callable"
`from summarizer import Summarizer
model = Summarizer()`
No problem in running above two lines
`result = model(a, min_length=60)`
When I run this it says:

`'Summarizer' object is not callable`

[2020-04-27 21:41] Viwarrior commented on #48
Added more line

[2020-05-12 15:02] aswin-datakalp opened #49 "How to get the summarized texts' embeddings rather than getting text ?"
I believe  that  the final summarised text is derived from embeddings , so is there a way where i can  directly get the summarized texts emeddings directly rather than getting the summarized text ??

Any help on this would be much helpful for my task !!

[2020-05-14 06:31] directv00 opened #50 "Somewhat different result between online demo and python code."
I experimented some korean text to two scenarios but gained different results.
One is online demo site https://smrzr.io/
and the other is the python code with 'distilbert-base-uncased' or "multilingual-base-cased'

body= "KT 위즈의 '수호신' 이대은이 두 경기 연속 무너졌다. 10일 잠실 두산 베어스전에서 연장 10회말 오재일에게 동점포를 맞은데 이어, 12일 창원 NC 다이노스전에서 나성범에게 동점 투런포를 내주면서 고개를 떨궜다. 시즌 첫 블론세이브를 기록한 뒤 마운드에 오른 12일 이대은의 부담감은 상당해 보였다. 팀이 6-4로

[2020-05-14 13:00] Hellscream64 commented on #50
Yeah i encountert the same Problem,, In google colab the distillbert and the distillbert version fo the website provided different results

[2020-05-14 13:36] shubhamlekhwar opened #51 "Error while importing summerizer"
I am facing the issue while importing the summarizer. Anyone faced the same issue?
![summerizer_issue](https://user-images.githubusercontent.com/45159853/81941086-fc530400-9615-11ea-8ac4-b08d054ea131.png)

[2020-05-15 09:42] padmalcom opened #52 "Limit the summarization length"
Hi, first of all thanks for the great project.

Is there a way to limit the output of the summarizer? We use it to display a summarization in a table which get's very ugly when text length differ a lot.

[2020-05-17 09:12] sonnylaskar commented on #52
You can pass the parameter `ratio` as `?ratio=0.1` to define the compression expected.
To get a predictable length, you could compute ratio by considering the length of the input and the expected output length.

[2020-05-17 18:55] Bignya1234 opened #53 "How do you calculate the number of cluster for KMeans?"
I can see that the number of cluster is defined as this:
 k = 1 if ratio * len(self.features) < 1 else int(len(self.features) * ratio)

Can anyone explain why? What is the role of ratio here?

[2020-05-20 16:10] pratikghanwat7 opened #54 "How can we use this model for other languages like German, French and many more?"
I want to use this model for multiple languages, How can I achieve that in one code?

[2020-05-22 06:07] 1615070057 commented on #45
Hello, is the project about the application of ‘bert-extractive-summarizer’ applied to the Chinese abstract successful? I do n’t know how to modify it. I would like to ask.

[2020-05-22 08:06] BIRlz commented on #45
Have you ever tested this model on a Chinese dataset? It didn't work on my dataset and outputs nothing

[2020-05-22 13:28] dmmiller612 commented on #54
Yep, underneath, this uses the hugging face transformers library. So you will have access to all of the pretrained models there.

[code]

[2020-05-22 13:28] #54 closed

[2020-05-22 13:30] dmmiller612 commented on #53
The ratio is supposed to be the percentage of sentences from the body of text that you want to summarize to. The motivation came from the gensim summarization package, which also does ratios.

[2020-05-22 13:30] #53 closed

[2020-05-22 13:30] dmmiller612 commented on #52
Yep, the ratio parameter controls the size of the summarization.

[2020-05-22 13:30] #52 closed

[2020-05-22 13:32] dmmiller612 commented on #50
Interesting. The online version uses a ratio of 0.15 and is on an older version of the library. If you provide a ratio of 0.15 is it still a problem?

[2020-05-22 13:33] dmmiller612 commented on #49
That is a good idea for a feature. I'll try to get to it sometime soon.

[2020-05-22 13:34] dmmiller612 commented on #45
It would need a Chinese based bert model. I am not sure if the bert-multilingual model supports Chinese or not. This would need to be in the form of a huggingface transformer.

[2020-05-23 04:16] directv00 commented on #50
Unfortunately, it is same with ratio 0.15.
Could you check it out the python code?

from transformers import *
from summarizer import Summarizer

custom_model = DistilBertModel.from_pretrained('distilbert-base-multilingual-cased',  output_hidden_states=True)
custom_tokenizer = DistilBertTokenizer.from_pretrained('distilbert-base-multilingual-cased')

body = '''
KT 위즈의 '수호신' 이대은이 두 경기 연속 무너졌다. 10일

[2020-05-28 08:39] padmalcom commented on #52
Thank you all!

[2020-05-28 09:43] Tsotne001 commented on #50
Same problem here. Is there any update regarding this?
I've tried using different language, but still.

[2020-05-30 04:32] Gliterament opened #55 "what's the content of 'pooled'"
In the function 'extract_embeddings', it says that the function returns a numpy array, I'm wondering what are the elements of the array and I was thinking that the 'pooled' might refer to a float that is the  average of (batch_size, sequence_length, hidden_size) in a torch tensor.
Please help me figure this out, it's very important to me.

[2020-06-04 08:05] pratikghanwat7 opened #56 "Yep, underneath, this uses the hugging face transformers library. So you will have access to all of the pretrained models there."
Yep, underneath, this uses the hugging face transformers library. So you will have access to all of the pretrained models there.

[code]

_Originally posted by @dmmiller612 in https://github.com/dmmiller612/bert-extractive-summarizer/issues/54#issuecomment-632690548_

[2020-06-04 08:09] pratikghanwat7 commented on #56
for this multi-lingual model when I tried to feed text for summary I end up with errors:
Code:
[code]

Errors:
[code]

[2020-06-06 05:56] pratikghanwat7 commented on #56
When I added one more parameter to d_moel, issue got resolved.

d_model = DistilBertModel.from_pretrained('distilbert-base-multilingual-cased',output_hidden_states=True)

[2020-06-06 05:56] #56 closed

[2020-06-10 12:40] ShoubhikBanerjee opened #57 "Can we Fine-tune or Pre-train it?"
Is there any way to fine-tune or pre train the model.with custom dataset??

[2020-06-10 16:02] mind-matrix opened #58 "Using a different SpaCy Model"
Hi. Thanks for this amazing library. I just wanted to know how I can use a different SpaCy model than the one used by default. I want to use the `en_core_web_lg` model instead of the `en_core_web_sm` model. So I downloaded the model and linked it to `en` shortcut. However, the library still complains about the `en_core_web_sm` model not being installed. Could you clarify how we can use it?

[2020-06-11 01:36] dmmiller612 commented on #58
Is this in context to the coreference? If not, you can actually use any sentence processing library by inheriting from https://github.com/dmmiller612/bert-extractive-summarizer/blob/master/summarizer/sentence_handler.py.

The model then can be used through:

`model = Summarizer(sentence_handler=your_handler_here)`

[2020-06-11 01:37] dmmiller612 commented on #57
You definitely can through the transformers library: https://github.com/huggingface/transformers .
This library abstracts on top of this by performing different summarizations on top of embeddings.

[2020-06-11 01:40] dmmiller612 commented on #55
The element of the array depends on what the parameters sent to it. By default, it retrieves the second to last hidden layer sentence embeddings.  This has to do with it generally being a better representation than the last layer. The average depends on the axis sent to it. Generally the dimension is set to 1.

[2020-06-11 01:40] dmmiller612 commented on #51
Interesting. Do you have another summarizer library already installed (this is a common issue)?

[2020-06-11 23:48] rxlian opened #59 "Text length exceeds maximum of 1000000"
Hi, I got an error while feeding the text into the summarizer as follows.

ValueError: [E088] Text of length 1519175 exceeds maximum of 1000000. The v2.x parser and NER models require roughly 1GB of temporary memory per 100,000 characters in the input. This means long texts may cause memory allocation errors. If you're not using the parser or NER, it's probably safe to increase the `nlp.max_length

[2020-06-11 23:57] rxlian commented on #59
By the way, my transformer version is 2.3.0 instead of 2.2.2. And other things are the same.

[2020-06-12 13:59] ShoubhikBanerjee commented on #57
I have already gone through the above link that you shared. But could not get any thing good for "extractive" summarization , fine-tune.   Do you have any docs/notebook, etc.?

[2020-06-17 10:10] pratikghanwat7 opened #60 "Why model picks first statement as a part of summary always"
I took the example given by you and started removing the first statement and applied summarization. but each time model gives output with first statement(which was not part of earlier summaries).

[2020-06-19 12:48] mind-matrix commented on #58
Oh. The sentence handler, yes. Thanks a lot.

[2020-06-19 12:48] #58 closed

[2020-06-24 07:01] SitiBanc commented on #60
I take a look at the code and find these lines: https://github.com/dmmiller612/bert-extractive-summarizer/blob/8d6ed621ed400755255ee8a2b2b5733a2f0dbd9b/summarizer/model_processors.py#L140-L148
It's the default settings for Summarizer to use the first sentence as part of the outputs.
Set `use_first` to `False` should fix this.

[2020-06-29 03:11] ttxs69 commented on #45
I have tried using `bert-base-chinese` model,but it outputs nothing.
this is my code:
[code]

[2020-07-01 02:03] ttxs69 commented on #45
I have solve the problem,the default spacy  is using English as sentence segmentioner,just change it to Chinese,and it works well.
Thanks  @dmmiller612

[2020-07-02 12:07] marcoboucas opened #61 "logging config in bert_parent set to WARNING"
The `logging.basicConfig(level=logging.WARNING)` in the file **summarizer.bert_parent** prevent the use of other config with logging when using this module.

Importing the module summarizer and using it make this line of code be executed, overriding logging config from our module.

[2020-07-02 14:46] nikhil19rathore99 opened #63 "How to integrate this model to android"
To be honest i just wanted to use this awsome summerizer in my android application
but won't find any converter to convert that model to tflite
is there is any other way to do that rather that writing whole code in tflite??

[2020-07-04 04:50] #63 closed

[2020-07-04 07:03] nikhil19rathore99 opened #64 "API"
Please provide the api which you are using in your demo online application??

[2020-07-04 11:55] nikhil19rathore99 commented on #64
Thank you i've made it thank you so much

[2020-07-04 11:55] #64 closed

[2020-07-08 12:55] gjmichel opened #65 "Kernel crash"
Hi everyone,
I don't know if it has happened to someone before, but I can't use the package.
I can import everything but when I try to run it (with coreference) , the kernel crashes, both on Colab(even with a TPU) and jupyter running locally.
Do you know how to fix this ?
Thanks!

[2020-07-17 13:13] paulowoicho commented on #59
Were you able to figure out a workaround for this? Thanks

[2020-07-17 21:05] Magdiel3 opened #67 "Weird sentence splitting"
## Weird sentence splitting

I am currently using this summarizer for German text but I have been getting some issues with sentences being split at abbreviations. To list an example, I have the sentence *Führerschein Kl. B, sowie eigener PKW (wünschenswert)* inside a larger body of text, and somehow that sentence gets to the summarized output. The issue is that it gets there but splitted at *Kl. B

[2020-07-17 22:51] paulowoicho opened #68 "Length of Final Summary"
Is there a way to control the length of the generated summary? Say for example, I want a summary that is just 5 sentences

[2020-07-19 08:41] x0rzkov opened #69 "How can i apply your code for French?"
Hi @dmmiller612 and guys,

Hope you are all well !

I was wondering how do you apply models like camembert or others available at https://huggingface.co/models?filter=fr with bert-extractive-summarizer.

That would be awesome ! Ca serait super !

Thanks in advance for any insights or inputs on that.

Cheers,
X

[2020-07-19 22:01] insop commented on #69
I think this would work.
_Note_ that coref doesn't work for non English.

[code]

[2020-07-19 23:04] dmmiller612 commented on #69
Yep! @insop solution should do the trick. Thanks!

[2020-07-19 23:04] #69 closed

[2020-07-19 23:05] dmmiller612 commented on #68
Originally, it was designed to follow the gensim textrank, which is why it is a percentage. It shouldn't be too difficult to an exact number, though. I have been pretty busy lately, but if I get some time, I can look at adding that.

[2020-07-19 23:06] dmmiller612 commented on #65
Not too sure on the coreference front. There have been several issues with Spacy and the Coreference package. It could also be due to limited memory depending on the model that you are using.

[2020-07-19 23:10] dmmiller612 commented on #67
The tokenizer works by automatically splitting sentences based on punctuation. I am guessing the spacy sees the abbreviation, and wrongfully treats it as a sentence. You will probably need to create a sentence handler with the german language. You could copy what already exists for the current sentence handler and replace english with: de_core_news_lg

[2020-07-19 23:11] dmmiller612 commented on #60
Yep! Thanks @SitiBanc. This was originally put in for news summarizations, where the first sentence is critical, regardless of the modeling.

[2020-07-19 23:11] #60 closed

[2020-07-19 23:14] dmmiller612 commented on #59
Looks to be a current common issue with Spacy, especially with max length not working. I may look at adding docs for multi-lines with spacy that might resolve this issue.

[2020-07-20 04:39] x0rzkov commented on #69
Hi guys,

Thanks very much for your replies :-) Merci beaucoup

How do I apply these changes to the server instance ?
Sorry, I am much more a gopher than a pythonista so I still struggle to make such ports.

Cheers,
X

[2020-07-20 14:47] Magdiel3 commented on #67
Thanks, I tried adding the model but it was not available for spaCy v2.1.3 but anyways, default sentencizer from `de_core_news_lg` doesn't handles some cases correctly. I modified the handler to work with [this](https://github.com/tsproisl/SoMaJo) sentence splitter for German and English that performed better at sentence segmentation. That works fine and all and still not quite the summirizing I w

[2020-07-20 15:23] gjmichel commented on #65
Thanks for your help! It works without the coreference feature so yeah I guess it's due to some issue with Spacy.

[2020-07-20 22:34] geshan commented on #68
+1

[2020-07-22 10:32] x0rzkov commented on #69
@dmmiller612 any ideas ? just want to test it on a couple of pages.

[2020-07-27 09:46] tomaszgarbus opened #71 "How can I manually provide a cache path for the model?"
For my use case I want to have all cached models (coming from different repos, mostly fro huggingface) in one directory. How can I provide a cache path to the Summarizer?

[2020-07-27 20:16] caramdache commented on #68
+1

[2020-07-27 20:17] caramdache commented on #59
+1

[2020-07-30 10:24] pratikghanwat7 commented on #68
+1

[2020-07-30 10:26] pratikghanwat7 commented on #49
+1

[2020-07-30 10:31] pratikghanwat7 opened #72 "Is there any way to give high importance to some sentence so that those sentence will be definitely part of summary?"
I am trying to apply this model to some example, but I am not getting the expected sentences in the summary, So is there any way to do so? or do I need to train the model?

[2020-07-31 14:17] paulowoicho opened #73 "Using custom model: T5 and Bart"
I tried using the tool with with a pretrained t5 model, but got the following error:

`You have to specify either decoder_input_ids or decoder_inputs_embeds`

I was wondering if the tool supports either of these models

[2020-08-01 13:50] dmmiller612 commented on #73
Let me take a look. That would be a good idea to have both of those.

[2020-08-02 16:05] dmmiller612 commented on #49
Added in version 0.5.0. Updated documentation in readme.

[2020-08-02 16:05] #49 closed

[2020-08-02 16:06] dmmiller612 commented on #68
Updated in version 0.5.0. Updated docs in readme in how to use. Thanks for the suggestion!

[2020-08-02 16:06] #68 closed

[2020-08-07 16:47] Bibabo-BUPT commented on #45
Excuse me, where have you changed to use jieba rather than spacy? I can't find it, thank U

[2020-08-12 08:53] shaivist commented on #51
I faced the same issue and reverting to SpaCy 2.2 worked for me. Maybe you can try the same

[2020-08-17 13:05] abhinavsp0730 opened #76 "Not able to build docker image in t2.micro 1 gb ram aws ram"
I'm not able to build in aws 1 gb ram aws t2.micro.
It's throwing 137 exit code.
Please help.

[2020-08-17 14:41] abhinavsp0730 commented on #76
error logs
[code]
@dmmiller612  please help.

[2020-08-27 00:24] rxlian commented on #59
Has this been solved?

[2020-09-10 10:24] deeptigoyal opened #78 "Re: number of sentences interpretation in BERTSum"
Hi Miller,

I am having issues in understanding how the parameter "number of sentences" helping in retrieving the desired summarized output.

For instance : if I give input as
body = """Second, cost associated with our data centers and other operations, including depreciation. And third, hardware-related costs for our Made by Google and Nest family of products. Operating expenses were $13.2 billio

[2020-09-10 11:38] hohlb commented on #19
You can define the cache directory by setting paths via the environment variables `TRANSFORMERS_CACHE` or `TORCH_HOME`.

- [Official Transformers Documentation](https://huggingface.co/transformers/installation.html#caching-models)
- [StackOverflow Answer](https://stackoverflow.com/a/63314437)

[2020-09-11 08:50] SyedAgha opened #79 "OSError: Can't load config for 'bert-large-uncased'. Make sure that:"
Hi,

I am getting following error after running model = Summarizer() in the code:

---------------------------------------------------------------------------
OSError                                   Traceback (most recent call last)
/home/cdsw/.local/lib/python3.6/site-packages/transformers/configuration_utils.py in get_config_dict(cls, pretrained_model_name_or_path, **kwargs)
    242

[2020-09-13 18:39] zdhernandez opened #80 "Summarizer with large en_core_web_lg model"
I am installing the en_core_web_lg_ model by running **python -m spacy download en_core_web_lg**. However, the documentation does not provide an explicit clear example to make sure that if this model is downloaded that it will use it as opposed to the small model which is the one that comes by default.

If I install the large model, doe that mean that the Summarizer will pickup the large and not t

[2020-09-15 03:35] zdhernandez commented on #79
custom_config = AutoConfig.from_pretrained('./bert-large-uncased-config.json')
custom_config.output_hidden_states=True
custom_tokenizer = AutoTokenizer.from_pretrained('./bert-base-uncased-vocab.txt')
custom_model = AutoModel.from_pretrained('./bert-large-uncased-pytorch_model.bin', config=custom_config)

[2020-09-17 05:38] Ad1tyaV commented on #48
@Viwarrior Try these in sequence
`pip install torch==1.6.0+cpu torchvision==0.7.0+cpu -f https://download.pytorch.org/whl/torch_stable.html`

Then

`pip install bert-extractive-summarizer==0.4.2`

Then in import try these two lines

[code]

Everything should work fine :)

[2020-09-18 01:14] dipanjanS opened #81 "AttributeError with latest version of Transformers"
Hi with the latest version of `transformers` i.e `3.1.0` I see the following error when I try to import `Summarizer`

[code]

Not sure if something broke because of changes to the base `transformer` library?
Works fine with `2.2.x` though.

Any insights would be appreciated.

[2020-09-18 11:38] hugocool commented on #81
I got exactly the same error

`
from summarizer import Summarizer

body = 'Text body that you want to summarize with BERT'
body2 = 'Something else you want to summarize with BERT'
model = Summarizer()
model(body)
model(body2)
`

`
---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
<ipython-input-12

[2020-09-18 16:32] zdhernandez commented on #76
I am having the same issue in Google Cloud Build. Even is I provide an increased in the Docker memory  -m 20g  still gives me en error code 137.  This is a Docker issue that has to do with the container memory.

[2020-09-21 15:44] ZohebAbai commented on #81
Just a few days back the update has been pushed to a branch 'small-updates'. Until it's merged into master branch you can install it using 'pip install git+https://github.com/dmmiller612/bert-extractive-summarizer.git@small-updates'.

[2020-09-21 16:04] ZohebAbai commented on #80
According to docs, If you want to use en_core_web_lg in CoreferenceHandler, you have to follow accordingly

` from summarizer.coreference_handler import CoreferenceHandler`
`handler = CoreferenceHandler(spacy_model = 'en_core_web_lg')`
`model = Summarizer(sentence_handler=handler)`
`result = model(body, num_sentences=3)`
`print(result)`

I would like to mention that, while doing this my GPU RAM cr

[2020-09-21 17:30] dipanjanS commented on #81
Sounds great, thanks!

[2020-09-23 16:17] Emekaborisama commented on #81
i have the same issue

[2020-09-24 06:27] vkurpad opened #84 "AttributeError: 'Summarizer' object has no attribute 'run_embeddings'"
I'm running into an issue when trying to get the embeddings for a document.

# Create a new Summarizer:
summarizer = Summarizer(
            model='bert-base-uncased',
            hidden=-2,
            reduce_option='mean'
    )
# Get embeddings
embeddings = summarizer.run_embeddings(text, num_sentences=3)

The same summarizer works when called to generate a summary
summary = summarizer(parsed, r

[2020-09-25 01:40] ttxs69 commented on #45
Sorry to reply such late.
just change two lines code in `sentence_handler.py`
https://github.com/dmmiller612/bert-extractive-summarizer/blob/f94c0243954171b2e5233d2624a8d2fcad1ea9ba/summarizer/sentence_handler.py#L3
change to
[code]
and
https://github.com/dmmiller612/bert-extractive-summarizer/blob/f94c0243954171b2e5233d2624a8d2fcad1ea9ba/summarizer/sentence_handler.py#L8

change to

[code]
and th

[2020-09-29 22:35] zdhernandez commented on #80
@ZohebAbai Thank you. I got it to work. Your example helped. I was using the wrong order of calls.

[2020-09-29 22:35] #80 closed

[2020-10-03 16:00] zdhernandez opened #85 "Needs upgrade - Does not work with Spacy 2.3.1"
Please update requirements.txt The latest Spacy Models show a version of 2.3.1.  The requirements file in this project needs a version of 2.1.3.  When trying to use latest version of spacy to run an example I get an error.

`/opt/conda/lib/python3.7/importlib/_bootstrap.py:219: RuntimeWarning: spacy.morphology.Morphology size changed, may indicate binary incompatibility. Expected 104 from C header

[2020-10-13 09:44] Allenhuang0708 commented on #71
I guess it didn't provide an api for it yet, but I foud a way to modify this by revised the site-packages/transformers/modeling_utils.py, we need to set the pretrained_model_name_or_path to your dir in from_pretrained method.

This can be fixed more appropriately by modifying the Summarizer, I am trying to add a pull request for this as well.

[2020-10-14 08:07] nvenkatesh2409 commented on #57
I pretrained the model with custom dataset and when passed this model as an input parameter (custom_model) am getting this error "IndexError: index -2 is out of bounds for dimension 0 with size 1". when I debug this am not getting the hiddenstates list much. plz help me on this.

[2020-10-14 10:14] nvenkatesh2409 commented on #17
Hi, any update  on this loading the custom model

[2020-10-14 14:22] dmmiller612 commented on #17
You should be able to load a custom (Transformers based) model using the library. Here is an example from the readme, let me know if it you are still having issues.

[code]

[2020-11-18 17:02] Liranbz opened #86 "Multi lingual summarise"
Hi,
Is there a wat to use another model for embedding\ summarise?
I wonder if I can change the type of BERT model to a BERT-multi-lingual model and to get results in other languages.
Thank you

[2020-11-25 10:21] pratikghanwat7 opened #87 "PreProcessing"
Hello,
Are you doing any kind of preprocessing on input text? such as stopwords removal, tokenization, lemmatize, or any other text cleaning process?

[2020-11-25 14:18] dmmiller612 commented on #87
In the basic setup, I am not doing any preprocessing. In some of my research over a year ago, I looked into that with different spacy operations, but results were largely inconclusive (I also didn't spend a lot of time on it). With the current library, this could be done by a custom SentenceHandler.

[2020-11-25 15:03] kingabzpro commented on #87
I have used your model, it works perfectly for small sentences but it kinda breaks with larger documents. I wanted to give you more insight but right now I am busy with a project and return to you with a detailed explanation later.

[2020-11-26 08:26] amanarora28 opened #88 "Which model is used in domo ? https://smrzr.io/"
Hi, first of all thanks for making this summarizer public.
I was playing around with different models for extracting summary on case data ( customer messages - contains lot of rants )
The summary in the demo  https://smrzr.io/ was better than what I could achieve by using roberta-base, distillbert, bert, bart-large model on your summarizer.

Can you please tell what model is used in the demo url ?

[2020-12-16 03:08] lmq990417 commented on #45
@ttxs69
Why is the final output of the Chinese original text after I modify the Chinese model according to your steps?
Urgently want to know, hope can reply！

[2020-12-16 03:24] jnkr36 commented on #45
i just try and it can work after i follow the steps to change the two lines code, you can run step into model(body) for debug

[2020-12-16 03:58] lmq990417 commented on #45
@ttxs69
Ok, thanks,I will try. If it is convenient, could you please send me a copy of the code you run? My email address is cnlimaoqian@163.com.

[2020-12-16 08:51] lmq990417 commented on #45
@jnkr36
I'm sorry that I read the wrong name this morning. First of all, thank you very much for replying to me. I'm a little urgent now, but I can't find the mistake, so I will try the method you said, at the same time if it is convenient, could you please send me a copy of the code you run? My email address is cnlimaoqian@163.com！
Thank you very much again

[2020-12-17 08:42] lmq990417 commented on #45
@jnkr36
I came again !
I just have a question that if you've downloaded zh_core_web_sm before.

[2020-12-17 14:52] jnkr36 commented on #45
sorry for late response. i have sent you my project. please check you email. any other questions, we can talk again.

[2020-12-19 19:40] abheet19 commented on #57
please tell how to fine tune by freezing the layers and adding our own NN

[2020-12-21 00:13] krrishdholakia opened #89 "Num Sentences error"
Hi,

trying to follow the num sentences example

`result = model(body, num_sentences=3)`

the error i'm getting is:

`TypeError: __call__() got an unexpected keyword argument 'num_sentences'`

[2020-12-23 01:32] dmmiller612 commented on #89
What version are you using of bert-extractive-summarizer?

[2020-12-29 09:06] michael81045 commented on #89
I also have the same problem.
Here is my version of requirements:
bert-extractive-summarizer = 0.4.2
transformers = 2.2.2
spacy = 2.3.4
numpy = 1.19.4
torch = 1.7.0+cpu
tqdm = 4.54.0

It still worked last week.
but, I got the TypeError today.
Can you please help me to figure out what's going on in it?
Thank you very much!

[2020-12-30 05:37] dmmiller612 commented on #89
Thanks for the info. `num_sentences` was introduced in 0.5.1. The most recent version for bert-extractive-summarizer is `0.6.1`.

[2021-01-04 11:05] KevinLion15 opened #92 "i have a problem when importing summarizer ---""""from summarizer import Summarizer""""
this is the message they give me
 None of PyTorch, TensorFlow >= 2.0, or Flax have been found. Models won't be available and only tokenizers, configuration and file/data utilities can be used.
Traceback (most recent call last):
  File "C:/Users/klion/AppData/Local/Programs/Python/Python39/test.py", line 1, in <module>
    from summarizer import Summarizer
  File "C:\Users\klion\AppData\Local\Progr

[2021-01-04 20:26] frankfka commented on #65
@gjmichel, @dmmiller612 - have any of you looked into this? I'm getting crashes on Colab when I try to use coreference

[2021-01-07 11:31] KevinLion15 commented on #92
Hello can you help  me please

[2021-01-09 20:38] agenius5 opened #93 "Run on tpu?"
Is it possible to run this model on google colab tpu's? It's quite slow even on colab's p100 gpu when I summarize lengthy piece of texts.

I tried changing the device to `self.device = xm.xla_device()` inside `bert_parent.py`, imported the library which was successful. But, when I ran the model, there was no speed but it only slowed down.

So, is it possible to run it on tpu. If yes, then how?

it

[2021-02-03 08:56] zhenyuan0502 commented on #30
I got the error too, any update @dmmiller612

[2021-02-03 12:37] maky-hnou opened #95 "ValueError: [E966] `nlp.add_pipe` now takes the string name of the registered component factory, not a callable component."
I just installed bert-extractive-summarizer using `pip install bert-extractive-summarizer` (Python3).
Then I wanted to try some examples, I run this command `from summarizer import Summarizer` But I got this error:
[code]

Here are the packages that are already installed alongside with bert-extractive-summarizer:
[code]
Could it be an incompatibility with the new spacy version?

[2021-02-04 15:33] bernardoleite commented on #54
Hey there!

I am trying to use these [pre-trained models](https://huggingface.co/neuralmind/bert-base-portuguese-cased) from hugging face by applying this code:

[code]

I am getting the following error:

[code]

What am I doing wrong? Thanks in advance.

[2021-02-04 15:36] macfly1202 commented on #54
Are you using transformers 2.2 ?

Le jeu. 4 févr. 2021 à 16:34, bernardoleite <notifications@github.com> a
écrit :

--
Jean-Marie PRIGENT

[2021-02-04 15:43] bernardoleite commented on #54
How can I verify the version of transformers? I am using it on google colab

[2021-02-05 21:00] 127 opened #96 "Docker images fail to build"
Building wheels for collected packages: en-core-web-sm, nltk, sacremoses
  Building wheel for en-core-web-sm (setup.py): started
  Building wheel for en-core-web-sm (setup.py): finished with status 'done'
  Created wheel for en-core-web-sm: filename=en_core_web_sm-2.1.0-py3-none-any.whl size=11075231 sha256=6945d8651f61610e36e71ceabc3028adbeb2ccfdcdcba82fbe5217deaa0a9894
  Stored in directory: /ro

[2021-02-05 21:02] 127 commented on #95
Have the same issue

[2021-02-08 22:15] AMahfodh commented on #95
Encountered the same issue, which's due to using a newer version of spaCy v3 instead of v2. I've locally fixed the error with two minor changes in coreference_handler.py under the directory (../site-packages/summarizer).

Just modify lines 10 & 24 as follows:

#self.nlp.add_pipe(self.nlp.create_pipe('sentencizer'))   to
self.nlp.add_pipe("sentencizer")

#return [c.string.strip() for c in doc.sents

[2021-02-09 10:36] fcernafukuzaki commented on #95
@AMahfodh I changed file "sentence_handler.py" in the same directory and it works for me.

[2021-02-10 18:57] GuilleVENT commented on #95
I haven't been able to solve this. Can you guys push an update with support for spacy v3?
@AMahfodh

[2021-02-13 16:44] dmmiller612 commented on #95
This has been on my list, but not really sure how to proceed, due to some libraries not being compatible with spacy 3.0 (like neural coref). I can update the sentence handler for now to try to work with 3.0 and fall back to 2.0.

[2021-02-14 00:57] dmmiller612 commented on #95
Master currently has spacy 3 support as of this afternoon. I will push to pypi soon.

[2021-02-15 07:21] raytxz commented on #73
Hi, any updates on this? Would appreciate to be able to use T5 with bert-extractive-summarizer.

[2021-02-20 10:55] muvazima opened #99 "spacy attribute error"
File "/opt/anaconda3/lib/python3.8/site-packages/summarizer/model_processors.py", line 116, in __call__
    return self.run(body, ratio, min_length, max_length, algorithm=algorithm, use_first=use_first)
  File "/opt/anaconda3/lib/python3.8/site-packages/summarizer/model_processors.py", line 87, in run
    sentences = self.sentence_handler(body, min_length, max_length)
  File "/opt/anaconda3/lib/py

[2021-02-21 15:20] dmmiller612 commented on #99
As of last night, I just merged in code to support Spacy 3.0 with the sentence handler. You will need to install bert-extractive-summarizer==0.7.0

[2021-02-21 15:20] #99 closed

[2021-02-21 15:21] dmmiller612 commented on #95
It has now been merged to pypi. To use, install bert-extractive-summarizer==0.7.0

[2021-02-21 15:21] #95 closed

[2021-02-21 16:32] maky-hnou commented on #95
Thank you @dmmiller612

[2021-03-01 08:48] hokmingkwan commented on #45
@jnkr36
Hi jnkr36, would you also share your code to me? I'm also looking for Chinese Summarization. My email is: hokming.kwan@gmail.com
Thank you!

[2021-03-03 14:21] Ayush1702 commented on #92
`pip install torchvision --user`
should help

[2021-03-04 15:03] gmolinah opened #100 "Explained variation vs number of sentences"
Hi, nice library!
I want to determine the optimal numbers of clusters/sentences by using the Elbow method, so it would be useful if i can get the explained variation of each clusterization. Is that stored in some attibute?

[2021-03-05 15:49] dmmiller612 commented on #100
This is actually a great feature suggestion. I will look at adding it this weekend.

[2021-03-07 17:53] dmmiller612 commented on #100
Supported as of pypi version 0.7.1. There is also updated documentation in the readme in how to use it.

[2021-03-07 17:53] #100 closed

[2021-03-07 17:54] dmmiller612 commented on #92
If you are having any other issues, feel free to re-open.

[2021-03-07 17:54] #92 closed

[2021-03-07 17:55] dmmiller612 commented on #89
Closing for now. Let me know if you are still having any problems.

[2021-03-07 17:55] #89 closed

[2021-03-07 17:57] dmmiller612 commented on #86
I haven't worked much with multi-lingual models, but this should work with any fine tuned bert model on a given language. I know that the transformers library has a multi-lingual model that could be used here.

[2021-03-07 17:57] #86 closed

[2021-03-07 17:58] dmmiller612 commented on #84
This was most likely an issue with the bert extractive summarizer version. The most up to date version is 0.7.1.

[2021-03-07 17:58] #84 closed

[2021-03-07 18:00] dmmiller612 commented on #81
Forgot to update this issue. This should be resolved. Let me know if any other issues arise.

[2021-03-07 18:00] #81 closed

[2021-03-07 18:01] dmmiller612 commented on #8
Closing as stale. Updated bert-summarizer should have addressed memory issues.

[2021-03-07 18:01] #8 closed

[2021-03-07 18:02] dmmiller612 commented on #11
This happens when the min_length, max_length filter out sentences, and there is nothing to summarize. Closing as stale for now, but let me know if any issues arise.

[2021-03-07 18:02] #11 closed

[2021-03-07 18:03] dmmiller612 commented on #17
Closing as stale. Let me know if any issues arise here.

[2021-03-07 18:03] #17 closed

[2021-03-07 18:03] #25 closed

[2021-03-07 18:04] #31 closed

[2021-03-07 18:04] #33 closed

[2021-03-07 18:05] #38 closed

[2021-03-07 18:06] dmmiller612 commented on #40
Closing as stale. Since this message, we also have support for a custom sentence handler before it reaches the summarization. We also dropped requirements for coreference since it expanded the spacy model size and was causing issues with dependencies. Let me know if any other issues arise.

[2021-03-07 18:06] #40 closed

[2021-03-21 21:22] kgarg8 opened #102 "Retrieve ranking of the sentences"
Can we get the ranking of ALL sentences from the summarizer according to their relevance in the final summary?

[2021-03-23 17:56] lucasgsfelix commented on #59
Has this been solved ?

[2021-04-07 16:23] dwlmt commented on #102
Is this now enabled? I want to use a recent extractive summarization method as a baseline for a task that uses ranking evaluation (MAP) as well as ROUGE type metrics. This requires a score that can be used as an ordinal ranking as well as just an output summary.

[2021-04-12 15:35] loretoparisi opened #104 "Condition summarization with a seed"
Is it possible to condition this extractive summarizer model with a seed word (or sentence eventually)?  The seed word would belong to the text input itself.
Thank you!

[2021-04-21 10:29] igorbrigadir opened #105 "Alternative coreference resolution implementation"
This works with the latest spacy version:

https://github.com/msg-systems/coreferee

[2021-04-28 01:21] shreyu2403 commented on #30
Is there any update on this ?
I am unable to import summarizer too

[2021-04-28 14:56] dmmiller612 commented on #30
This has to do with clashing package names at installation. If you set up a virtualenv from scratch or run the docker image, you should not encounter this issue.

[2021-04-28 14:58] shreyu2403 commented on #30
I set up a completely new environment a did all the steps, still the same issue.
Could you specify if there is a specific version of the prerequisite packages?

[2021-05-13 07:22] FrontMage commented on #45
Just for convenience, I forked the repo and modified it as the suggestion above, it works nicely.

[code]

[2021-05-17 16:43] lubani opened #106 "Docker images fail to build"
docker build -t summary-service -f Dockerfile.service ./
Sending build context to Docker daemon  138.2kB
Step 1/10 : FROM ubuntu:18.04
 ---> 4eb8f7c43909
Step 2/10 : RUN apt-get update &&     apt-get install -y sudo     build-essential     curl     libcurl4-openssl-dev     libssl-dev     wget     python3-dev     python3-pip     libxrender-dev     libxext6     libsm6     openssl
 ---> Using cache

[2021-05-17 19:05] macfly1202 commented on #106
It’s a typo just adjust same version 2.3.0 instead of 2.1.0. It must be the same in the url … you could manually navigate to space repo to check this.

[2021-05-17 19:06] lubani commented on #106
Thanks

On Mon, May 17, 2021, 22:05 Jean-Marie Prigent ***@***.***>
wrote:

[2021-05-21 17:56] amodi01 commented on #30
I am also facing a similar issue.

[2021-05-27 19:37] Ayush1702 commented on #30
uninstall the default summarizer package if it was installed explicitly before,
Just upgrade Bert extractive summarizer with `pip install --upgrade bert-extractive-summarizer`
import it and call, it should download a newer model
[code]
This worked for me!

![chrome_322](https://user-images.githubusercontent.com/43087979/119885868-fb0a2600-bf4f-11eb-9709-281c6164cb1c.png)

[2021-05-29 16:43] tuzcsap commented on #45
@FrontMage
Hello!
I've installed your modified fork, transformers, spacy 3.0.0 and downloaded zh_core_web_sm, then tried to run model as in ttxs69 snippet, but model generates empty output on Chinese sentences.
Could you, please, provide more details on your setup?

[2021-06-06 16:17] Gokul-Krishna-Gopakumar commented on #48
@Ad1tyaV  I got this error after doing this :(

AttributeError: module transformers.models.big_bird has no attribute BigBirdTokenizer

Someone got any fixes for this? @dmmiller612 @Ad1tyaV :(

[2021-06-07 14:33] tuzcsap opened #108 "Empty summary on Chinese texts"
Hello! I'm trying to apply this model to Chinese texts. I followed steps from [issue](https://github.com/dmmiller612/bert-extractive-summarizer/issues/45):

- changed sentence_handler.py to Chinese:

[code]
- downloaded `zh_core_web_sm` model and created custom config for model and tokenizer:

[code]
but model generates empty string as output.

Could you, please, tell me, which steps did I miss?

[2021-06-11 05:25] shridharpr commented on #81
I am getting following error - "AttributeError: module transformers.models.big_bird has no attribute BigBirdTokenizer"
While importing "from summarizer import Summarizer"

[2021-06-13 14:25] Daibao1120 commented on #108
This might help.
https://geek.digiasset.org/pages/nlp/nlpinfo/bert-text-summarizer-chinese/

[2021-06-13 17:19] tuzcsap commented on #108
@Daibao1120 Thank your for this link! The code worked fine in colab environment yet one additional precondition was required:
`pip install sentencepiece`

[2021-06-13 17:19] #108 closed

[2021-06-14 19:00] Sai-Bhavana commented on #26
@dmmiller612 how to uninstall original summarizer

[2021-06-15 13:36] madhavi1102 opened #109 "Throwing issue AttributeError: module transformers.models.big_bird has no attribute BigBirdTokenizer"
Steps to reproduce:
!pip install bert-extractive-summarizer
! pip install sentencepiece
!python -m spacy download en_core_web_md

from summarizer import Summarizer
model = Summarizer()
model("I have recent examples.. I booked for only one vaccine for my mother in a 3 day drive in Hyderabad but was told it's a limited. I did not book the request for myself because I was already vaccinated through m

[2021-06-20 14:04] smile22091 commented on #109
I have the same error too.
But I install transformer 3.3.0, it works to me.

`!pip install transformers==3.3.0`

[2021-06-26 02:05] morioka commented on #45
this issue is still active?

no need to modify the bert-extractive-summarizer.
just add a custom_sentence_handler for Chinese language.

[code]

[code]

The result seems good.  Sorry, I can not understand Chinese text.

For detail, plase see my kaggle notebook; https://www.kaggle.com/yasuhiromorioka/how-to-use-bert-extractive-summarizer-in-ja-and-zh

Regards,
Morioka

[2021-07-02 16:41] SampadaShete opened #110 "NameError: name 'model' is not defined"
NameError                                 Traceback (most recent call last)
<ipython-input-6-84fb4f18e8a6> in <module>()
      2
      3 start = time.time()
----> 4 resp = model('''
      5     The Chrysler Building, the famous art deco New York skyscraper, will be sold for a small fraction of its previous sales price.
      6     The deal, first reported by The Real Deal, was for $150 million, ac

[2021-08-20 18:39] YatinKapoor commented on #48
@Ad1tyaV
It is still giving the same error for me. Kindly help.

[2021-08-30 08:17] omkarhp commented on #26
@dammiller612 did you get a solution for the above thread? If yes, please share. Thanks in advance!

[2021-09-02 16:58] lazarinastoy opened #112 "AttributeError: module 'transformers.utils.logging' has no attribute 'basicConfig'"
Getting this error when trying to import from summarizer import Summarizer

Log below:

from summarizer import Summarizer
from summarizer.model_processors import Summarizer, TransformerSummarizer
from summarizer.bert_parent import BertParent
 logging.basicConfig(level=logging.WARNING)
AttributeError: module 'transformers.utils.logging' has no attribute 'basicConfig'

[2021-09-11 16:45] osamahameedX commented on #41
I am also getting same Error

ImportError: cannot import name 'BartModel' from 'transformers' (/usr/local/lib/python3.7/dist-packages/transformers/__init__.py)

[2021-09-13 09:44] frederick0291 commented on #71
I have the same question. Looks like I will have to follow Allen's suggestion for now.

[2021-09-16 11:50] cpatrickalves commented on #34
Any updates about this? Seems to be a really good improvement.

[2021-09-16 17:05] etrock commented on #96
Error code 137 is out of memory

[2021-09-16 17:07] etrock commented on #76
I had the same issue on DigitalOcean with 1gb but after upgraded my droplet to 4gb building  went well

[2021-09-16 17:10] abhinavsp0730 commented on #76
What's the monthly cost you're getting per month in digital ocean?

On Thu, Sep 16, 2021, 10:37 PM Sipos Dávid Dániel ***@***.***>
wrote:

[2021-09-30 05:01] 3th4n1sn3rd opened #113 "NameError: name 'AlbertModel' not defined"
I am facing this issue in python 3.8.11 where the library is getting an error while running a simple program.

first sample code

`
from summarizer import Summarizer

body = 'Text body that you want to summarize with BERT'
body2 = 'Something else you want to summarize with BERT'
model = Summarizer()
print(model(body))
print(model(body2))
`

Error Occured

`
Traceback (most recent call last):
  Fil

[2021-11-13 12:57] ilich917 opened #115 "Please can you list the requirements of this when this really works?"
This library definitely is not working now, but I want to run this with previous versions of spacy, python, transformers, etc. Can you give us the requirements please?

[2021-11-13 13:50] dmmiller612 commented on #115
What's not working? There are a few libraries this depends on, and change frequently.

[2021-11-13 14:02] ilich917 commented on #115
hi, its delivering that error of model not finded

On Sat, Nov 13, 2021, 10:50 Derek Miller ***@***.***> wrote:

[2021-11-15 04:08] RobinVds commented on #59
+1

[2021-11-15 18:28] Taneesha-creates commented on #48
@Ad1tyaV Do you know another solution for the same? I'm facing the same difficulty

[2021-11-17 05:27] Ad1tyaV commented on #48
@Taneesha-creates
Yes that solution seems to be incompatible now, it worked back then, but based on python version, the package versions need to be tweaked a little bit, try this, I used [this](https://pytorch.org/get-started/previous-versions/) for reference

[2021-11-23 07:52] srknowdis commented on #59
+1

[2021-11-28 20:33] dmmiller612 commented on #113
what version on transformers do you have? if you pip install requirements.txt it should be there.

[2021-11-28 20:33] #113 closed

[2021-11-28 20:34] dmmiller612 commented on #112
Newest version of bert-extractive-summarizer should resolve this issue. Feel free to reopen, if it still persists.

[2021-11-28 20:34] #112 closed

[2021-11-28 20:34] dmmiller612 commented on #110
You will need to define the model like:

[code]

[2021-11-28 20:34] #110 closed

[2021-11-28 20:36] #109 closed

[2021-11-28 20:37] #106 closed

[2021-11-28 20:38] dmmiller612 commented on #105
Will take a look at implementing it.

[2021-11-28 20:38] #87 closed

[2021-11-28 20:39] #79 closed

[2021-11-28 20:40] #30 closed

[2021-11-28 22:54] dmmiller612 commented on #34
Implemented in version 0.9.0

[2021-11-28 22:54] #34 closed

[2021-11-30 09:53] zhangsirf commented on #45
If it is convenient, could you please send me a copy of the code you run? My email address is zhangf0308@gmail.com   thanks

[2021-11-30 09:53] zhangsirf commented on #45
If it is convenient, could you please send me a copy of the code you run? My email address is zhangf0308@gmail.com thanks

[2021-12-06 12:07] dejurin commented on #26
`pip uninstall summarizer`

[2021-12-21 11:22] yajush1998 opened #117 "how to run the application part"
can u tell how will we run this application from scratch if possible I am facing this isue

[2021-12-26 15:27] LeoDalcegio opened #118 "Weights not used when initializating BertModel"
I am recieving the following warning, is this something normal, that should be happening or I am doing something wrong?

The version of the transformers module and other dependencies are the same as in requirements.txt.

I just want to know if I should be worried about this warning.

Some weights of the model checkpoint at bert-large-uncased were not used when initializing BertModel: ['cls.predict

[2021-12-27 01:39] iknoorjobs commented on #89
Hi @dmmiller612

Could you please tell me why the number of returned sentences are sometimes one less than the set num_sentences parameter?

Example code try num_sentences 5 or 4 or 3 ..:

[code]

Thanks

[2021-12-27 20:31] #46 closed

[2021-12-28 14:41] #55 closed

[2021-12-30 16:58] dmmiller612 commented on #47
As of the current version, we have implemented elbow, which provides the optimal k value.

[2021-12-30 16:58] #47 closed

[2021-12-30 17:02] dmmiller612 commented on #48
Do you get the same error if you run TransformerSummarizer?

As in:
[code]

If this throws an import error, then it is likely that another package is installed with the summarizer package.

[2021-12-30 17:03] dmmiller612 commented on #51
Support for spacy 3.0 should be addressed now. Let me know if any issues persist.

[2021-12-30 17:03] #51 closed

[2021-12-30 17:06] dmmiller612 commented on #115
Do you have a stack trace of the error?

[2022-01-14 14:09] deanlongio commented on #48
Hi guys. Any update on this?

I have tried
pip3 install bert-extractive-summarizer

then

pip3 install summarize

but none of these work

I also tried` from summarizer import TransformerSummarizer`

but it didn't work with TransformerSummarizer (not recognized)

Any suggestion?

[2022-01-14 15:45] dmmiller612 commented on #48
You definitely don't want to pip install summarize. That is a different library, and it is overriding the bert-extractive-summarizer library. If `from summarizer import TransformerSummarizer` that means that you have another summarizer library installed.

[2022-01-19 15:46] bnaismith commented on #41
I am also getting the same  error message, but only after updating my Mac OS to Monterey, so I'm guessing it's related to that. Trying different things, but no luck yet.

[2022-01-19 16:51] dmmiller612 commented on #41
Note the two errors above are different than the original message. The errors above are related to the transformers package. What version of transformers are you running?

[2022-01-19 16:55] bnaismith commented on #41
Apologies, you're right - I was only responding to the comment, not the original post. I am using the updated transformers, version 4.15

[2022-01-24 16:33] apragm commented on #48
I have the same issue TypeError: 'Summarizer' object is not callable, did someone found a solution? I am not able to use Summarizer because of that, even when installing bert-extractive-summarizer as suggested here...

[2022-01-24 17:58] dmmiller612 commented on #48
what happens when you try: `from summarizer import TransformerSummarizer`

[2022-01-24 18:00] apragm commented on #48
I get a ImportError: cannot import name 'TransformerSummarizer' from 'summarizer' (C:\Users\glom\AppData\Local\Programs\Python\Python310\lib\site-packages\summarizer\__init__.py)

Also, for some reason I am not able to install bert-extractive-summarizer anymore (I get a Failed to build tokenizers error) but it might not be related.

[2022-01-24 20:36] dmmiller612 commented on #48
the error most likely means you already have a package called summarizer installed. For the latter error, I am not sure. Would have to see full error message.

[2022-01-27 12:53] asheetal opened #126 "Using T5"
There are some photo-op reasons to use T5 transformer backend in the summarizer. But so far unable to figure out how to connect t5-base with this Summarizer or TransformerSummarizer. Hope someone can point me in the right direction.

[2022-02-08 00:10] Henrik41 opened #127 "unable to build on Mac m1 - Big Sur"
I am unable to install because of some dependencies:

CPU dispatch  :
              Requested   : 'max -xop -fma4'
              Enabled     : none
              Generated   : none
            CCompilerOpt._cache_write[796] : write cache to path -> /private/var/folders/gd/5k47blnx2lsdygrtqcj7l_fr0000gn/T/pip-install-sejmndjk/scipy_1e427efcb75f4c11bd59ff14c8baf00c/build/temp.macosx-10.14.6-arm64-3.

[2022-03-13 11:40] KTG1 commented on #59
Did anyone solve this problem?

[2022-03-21 13:51] chagri opened #128 "ValueError: n_samples=4 should be >= n_clusters=40"
I am using SentenceBERT summarizer for the following body:

`As you begin planning your campaign, you may have some questions about whether or not Indiegogo allows the type of campaign you want to run.
In general, for-profit and nonprofit campaigns are allowed on Indiegogo. Keep in mind as you create your
perks
, Indiegogo has rules about what you
can and can't offer
. We also recommend reading th

[2022-03-21 14:06] #128 closed, assigned to nobody

[2022-03-21 14:08] chagri commented on #128
Didn't pass "num_sentences" argument and used the value directly.

[2022-03-27 08:19] ilingen commented on #45
For the outputs is original text, I just found out that you need to change every sentence in your long text to a Chinese period.

[2022-03-29 08:51] ranjith502 opened #129 "how to save model as pkl.file for deploying"
Thanks for your contributions

i want to save weights [bert-extractive-summarizer] as pkl file ,and i want to use it for prediction for my text summarization
may i know ,how to save it

from summarizer import Summarizer

body = 'Text body that you want to summarize with BERT'
body2 = 'Something else you want to summarize with BERT'
model = Summarizer()
model(body)
model(body2)

now how to save mod

[2022-04-12 09:44] claudiaor commented on #48
Hi here,

I am sure I do not have summarizer but bert-extractive-summarizer installed.

Still, haven't been successful, I get the error:
`ModuleNotFoundError: No module named 'summarizer'`

I ran
`from summarizer import TransformerSummarizer`

and get the same error

Any help is appreciated.

[2022-04-16 11:18] adarshcode28 commented on #92
Traceback (most recent call last):
  File "d:\btech\3-YEAR\sem-6\NLP\project\extractive\bert-extractive-summarizer-master\examples\summarize.py", line 1, in <module>
    from summarizer import Summarizer
ImportError: cannot import name 'Summarizer' from 'summarizer' (unknown
location)

[2022-04-16 11:18] adarshcode28 commented on #92
please need help

[2022-04-16 11:19] adarshcode28 opened #130 ""from summarizer import Summaizer""

[2022-04-16 11:20] adarshcode28 commented on #130
Traceback (most recent call last):
  File "d:\btech\3-YEAR\sem-6\NLP\project\extractive\bert-extractive-summarizer-master\examples\summarize.py", line 1, in <module>
    from summarizer import Summarizer
ImportError: cannot import name 'Summarizer' from 'summarizer' (unknown
location)

[2022-04-29 09:05] chirag900 commented on #53
hi
can you please clarify, how the sentences are selected with ratio, suppose if a body text has 10 sentences and ratio we provide as 0.2, is it first 2 sentences are used?

Thank you

[2022-05-10 06:25] ajaysurya1221 opened #131 "training custom model"
Hi, can you please explain how to train our own custom model for our own long documents?

[2022-05-10 07:14] riyakp05 opened #132 "can you please provide english.json file ,i was having issue that trainer folder is not there"

[2022-05-31 15:52] dsivakumar opened #134 "AWS Lambda + Container issue with model loading as /home is read only"
Posted a issue here https://github.com/UKPLab/sentence-transformers/issues/923#issuecomment-1142298361
But it would be good if we have an option to pass on the cache_folder in the following initialization

https://github.com/dmmiller612/bert-extractive-summarizer/blob/84f27333aef33629444589c24933b76448777d4f/summarizer/transformer_embeddings/sbert_embedding.py#L17
self.sbert_model = SentenceTransf

[2022-06-01 13:19] dsivakumar commented on #134
Resolved by setting in aws Lambda configuration->Environment variables  HOME to /tmp !! All works fine!!!

[2022-06-01 13:19] #134 closed, assigned to nobody

[2022-06-03 15:12] kuluu6 commented on #92
pip install summarizer

[2022-06-03 21:21] gaurav-95 opened #135 "Error when running xlnet for individual paragraphs on linux using gpu"
I am running bertxl summarization on a GPU Ubuntu instance in AWS ec2 and it runs fine on my windows machine using CPU. But throws an error running there. Any assistance would be helpful. I am ready to give any other extra information if this was not sufficient.

[2022-06-15 15:46] PriyeshDave commented on #26
@omkarhp Did you get solution to the error? I am getting the same error. Would really appreciate your help

[2022-06-15 15:59] PriyeshDave commented on #48
Hi @claudiaor I am facing the same issue. Were you able to resolve this? Would really appreciate your help.

[2022-06-25 13:04] jacksonchen1998 commented on #131
Maybe you can use the normal way to train BERT model with your own dataset.

[2022-07-11 07:34] ghost commented on #30
I am also facing a similar issue.

[2022-08-03 18:26] ThePipsPlug commented on #30
Me too, has anyone managed to find a solution

[2022-08-03 18:40] ThePipsPlug commented on #48
Hey, I have been facing the same issue. Has there been a found solution or way in which I can bypass using this package to still get an extractive summary?

[2022-08-19 16:30] DraceniY opened #137 "Reproducibility bug on run_embeddings method"
The `run_embeddings` has reproducibility issue in long text, when it runs in different machines.

I put this [reproducibility_summarization.zip](https://github.com/dmmiller612/bert-extractive-summarizer/files/9383779/reproducibility_summarization.zip) file with input scientific article and my embedding output for comparison, I set `random.seed` in the `init` function of the class BertEmbedding but

[2022-08-26 11:10] J-E-J-S commented on #41
Seems likely that @shuntera might have named the file summarizer.py which will cause problem with imports. See https://stackoverflow.com/questions/64807163/importerror-cannot-import-name-from-partially-initialized-module-m. Try rename the file to somthing different if this is the case.

[2022-08-27 14:27] frankShih commented on #57
Still can not understand how to fine-tune model for "extractive" text summarizaiton task

Besides, one link I found is about abstractive summarization
https://huggingface.co/course/chapter7/5?fw=tf

Any suggestion?

[2022-08-29 13:35] frankShih commented on #57
Same here,

I can only find this tutorial from hugging face  webpage
https://huggingface.co/course/chapter7/5?fw=tf

Which is for abstractive summarization fine-tuning (if I understand correctly)

Any suggestions?

[2022-09-06 04:27] Mokto commented on #127
I think this can be closed now.

Works seamlessly for me

[2022-09-06 04:31] Mokto opened #138 "Don't load the SBERT model twice"
Hi,

My use case is the following:
- I load some text
- Use [bert-extractive-summarizer](https://github.com/dmmiller612/bert-extractive-summarizer) to summarize it
- Use SBERT to calculate vectors out of it

My issue is that I have to load the "same" model twice:
[code]

is there any way around it ?

Thanks.

[2022-09-12 01:01] frankShih opened #139 "Which kind of model should I choose?"
Since I cannot find any "rules" from the examples on README, I suppose that I can choose any pre-train model I want from HuggingFace regardless of which kind of task that model is trained for.

However, based on my understanding, shouldn't I choose models with the tags "task:SentenceSimilarity" or "task:Summarization"?

Any suggestions?

[2022-09-16 15:42] Mahesh100 commented on #30
Facing same issue, tried everything. Any solution on this?

[2022-09-30 04:03] Visla-Melinda-Devins opened #140 "How to use cached sentence embedding vector as the input instead of text?"
Hi, we have multiple tasks that use SBERT sentence embedding, therefore we embed the text once and cache the sentence embedding vectors, then re-use the vectors everywhere. We found it really improve the time performance of our applications.

Is there a way for the model to take sentence embedding vectors as the input instead of text?
The following is how we use the model. Thank you

model = SBert

[2022-10-19 14:34] monxarat opened #141 "How to support Japaneses"
Hi guys,
I want to support Japanese, how to do that?

[2022-10-21 16:58] phil-scholarcy commented on #115
I'm working on an update to this repo so that it works with the latest spacy and other libraries, and also includes scaffolding for production deployment. https://github.com/scholarcy/bert-extractive-summarizer/tree/removes-coreference-dependency

For now, I'm removing the coref module but I'll add in the new [spacy coreference model](https://explosion.ai/blog/coref) once I get it working to recon

[2022-10-26 15:56] phil-scholarcy commented on #115
PR here for full spacy 3 compatibility including the latest coreference module: https://github.com/dmmiller612/bert-extractive-summarizer/pull/142

[2022-11-08 19:39] koolgax99 commented on #118
Hey @LeoDalcegio Is this issue solved for you? I am getting the same error.

cc @dmmiller612 kindly look into this issue

[2022-11-14 03:12] enayet-hossain commented on #102
Hi Derek,
Thank you for your efforts. I had a question.
Is there a way to get the rank or score of each of the sentences which are given as inputs?
Thanks.

[2022-11-26 06:01] Morphlng opened #145 "tensor size mismatch for specific input text"
I'm using below code to do summarize for a couple of text samples. For one specific text, will raise Exception: `RuntimeError: The expanded size of the tensor (561) must match the existing size (512) at non-singleton dimension 1.  Target sizes: [1, 561].  Tensor sizes: [1, 512]`

[code]

The text was length 1271. The model behave fine for all other text, however this one. Why is this happening? Ho